<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.springboot.instagram.domain.user.UserRepository"> <!-- namespace는 인터페이스로 연결해줘야 매핑됨 -->
	<select id="checkUsernameByUsername" parameterType="String" resultType="Integer">
		SELECT
			count(username)
		FROM
			user_mst
		WHERE
			username = #{username};
	</select>
	
	<insert id="insertUser" parameterType="com.springboot.instagram.domain.user.User">
		INSERT INTO
			user_mst
		VALUES(
			0,
			#{email},
			#{name},
			#{username},
			#{oauth2_username},
			#{password},
			#{provider},
			#{role},
			now(),
			now()
		);
	</insert>
	
	<select id="getUserByUsername" parameterType="String" resultType="com.springboot.instagram.domain.user.User">
		SELECT
			*
		FROM
			user_mst
		WHERE
			username = #{username};
	</select>
	
	<select id="getUserByOAuth2Username" parameterType="String" resultType="com.springboot.instagram.domain.user.User">
		SELECT
			*
		FROM
			user_mst
		WHERE
			oauth2_username = #{oauth2_username};
	</select>
		
	<select id="getUserById" parameterType="Integer" resultType="com.springboot.instagram.domain.user.User">
		SELECT
			*
		FROM
			user_mst
		WHERE
			id = #{id};
	</select>
	
	<select id="getUserDtlById" parameterType="Integer" resultType="com.springboot.instagram.domain.user.UserDtl">
		SELECT
			*
		FROM
			user_dtl
		WHERE
			id = #{id};
	</select>
	
	<update id="updateUserById" parameterType="com.springboot.instagram.domain.user.User">
		UPDATE
			user_mst
		SET
			email = #{email},
			name = #{name},
			username = #{username},
			
			update_date = now()
		WHERE
			id = #{id};
	</update>
	
	<update id="updateUserDtlById" parameterType="com.springboot.instagram.domain.user.UserDtl">
		UPDATE
			user_dtl
		SET
			website = #{website},
			introduction = #{introduction},
			phone = #{phone},
			gender = #{gender},
			profile_img = #{profile_img},
			
			update_date = now()
		WHERE
			id = #{id};
	</update>
	
	<update id="updatePasswordById" parameterType="com.springboot.instagram.domain.user.User">
		UPDATE
			user_mst
		SET
			password = #{password},
			update_date = NOW()
		WHERE
			id = #{id};
	</update>
	
	</mapper>