.container {
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fafafa;
}

.menu-list {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #dbdbdb;
  align-items: center;
  width: 237px;
}

.menu-li-a-select {
  display: block;
  border-left: 2px solid black;
  border-color: black;
  padding: 16px 16px 16px 30px;
  width: 236px;
  height: 52px;
  font-weight: 500;
}

.menu-li-a {
  display: block;
  width: 236px;
  height: 52px;
  padding: 16px 16px 16px 30px;
  border-left: 2px solid rgba(red, green, blue, alpha);
  font-weight: 300;
}

.menu-li-a:hover {
  border-left: 2px solid #dbdbdb;
  background-color: #fafafa;
}
