.password-profile-img {
  display: flex;
  margin-top: 32px;
}

.password-profile-img-border {
  margin: 2px 32px 0 124px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 38px;
  height: 38px;
}

.password-profile-img-border img {
  max-width: 38px;
}

.password-profile-img .username-lb {
  display: flex;
  flex-direction: column;
}

.password-profile-img .username-lb h1 {
  font-size: 1.6em;
  font-weight: 400;
}

.profile-img-change-btn {
  color: #0095f6;
  font-weight: 500;
  cursor: pointer;
}

.password-item {
  display: flex;
  margin-bottom: 16px;
}

.password-items {
  margin-top: 16px;
}

.password-item aside {
  display: flex;
  justify-content: end;
  margin: 6px 0 0;
  width: 194px;
  padding: 0 32px;
}

.password-lb {
  font-size: 16px;
  font-weight: 500;
}

.password-ip {
  padding: 0 147px 0 0;
}

.password-ip input {
  padding: 0 10px;
  width: 442px;
  height: 40px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  background-color: #fafafa;
}

.password-ip textarea {
  padding: 5px 10px;
  max-width: 335px;
  min-width: 335px;
  padding: 0 10px;
  height: 80px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.password-submit-btn {
  border: none;
  padding: 5px;
  border-radius: 3px;
  background-color: #0095f6;
  color: white;
  cursor: pointer;
}
