/* -- 전체 설정 -- */

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
  letter-spacing: 0.4px;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 935px;
  margin: 30px auto 0 auto;
  background-color: white;
}
