.container {
  display: flex;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fafafa;
}

.img-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border-right: 1px solid #dbdbdb;
}

.img-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.upload-img {
  max-width: 600px;
}

#img-delete-btn {
  font-size: 2em;
  color: rgba(41, 41, 41, 0.5);
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}

#img-delete-btn:hover {
  color: rgba(0, 0, 0, 0.8);
}

.img-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-add p {
  padding: 10px 0;
  font-size: 1.8em;
  font-weight: 100;
}

#add-icon {
  font-size: 5em;
}

.add-img-btn {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #0095f6;
  color: white;
  cursor: pointer;
}

.img-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 335px;
  height: 600px;
}

.profile-info {
  display: flex;
  width: 100%;
}

.profile-img-border {
  margin: 0 5px;
  border: 0;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.profile-img-border img {
  max-width: 30px;
}

.username-lb {
  display: flex;
  align-items: flex-end;
  margin: 0 10px;
  padding-bottom: 5px;
}

.username-lb h1 {
  font-size: 1.1em;
  font-weight: 500;
  color: #666666;
}

.upload-content-border {
  margin-top: 10px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.upload-content {
  width: 315px;
  height: 480px;
  max-height: auto;
  overflow-y: scroll;
  border: none;
  outline: none;
  resize: none;
}

.upload-submit-btn {
  padding: 10px;
  font-size: 1.1em;
  font-weight: 700;
  color: #0095f6c2;
  letter-spacing: 1px;
  cursor: pointer;
}

.upload-submit-btn:hover {
  color: #0095f6;
}
